.idea
*.iml
out
gen
/.classpath
/.factorypath
/.project
/.settings/
/.idea
/README.md
.DS_Store
/wp-content/mcloud-view-cache
/wp-content/mcloud-reports
/wp-content/uploads/*
!/wp-content/uploads/elementor
!/wp-content/uploads/js_composer
!/wp-content/uploads/redux
!/wp-content/uploads/jevelin-dynamic-style.css


